services:
  redis:
    image: redis:7
    restart: always

  server:
    build: .
    restart: always
    depends_on:
      - redis
    environment:
      - IS_DOCKER=true
    ports:
      - "2050:2050"
      - "8888:8080"
