services:
  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  server:
    build: .
    restart: always
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - "2050:2050"
