services:
  redis:
    image: redis:7
    restart: always
    ports:
      - "127.0.0.1:6379:6379"

  server:
    build: .
    restart: always
    depends_on:
      - redis
    environment:
      - IS_DOCKER=true
    ports:
      - "2050:2050"
      - "2051:2051"
      - "8088:8080"
